<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
</head>
<body>
    <h4> <a data-th-href="@{/}">Back</a> </h4>
    <br><br>
    <div data-th-if="${#lists.isEmpty(news)}">
            <h3> No News on <span data-th-text="${category}"></span>
            for <span data-th-text="${country.value}"></span></h3>
    </div>

    <div data-th-unless="${#lists.isEmpty(news)}">
        <article data-th-each="n: ${news}">
            <h3 data-th-text="${n.title}"></h3>
        <div>
            <img data-th-src="${n.urlToImage}" width="200px">
        </div>
        <div>
            By <i data-th-text="${n.author}"></i>
        </div>
        <p data-th-text="${n.description}"></p>
        <div>
            Publish: <span data-th-text="${n.publishedAt}"></span>
            Read article <a data-th-href="${n.articleUrl}" target="_blank">here</a>
        </div>
        </article>
    </div>    
</body>
</html>